a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: gray;
}

a:hover {
    color: #555;

}

a:active {
    color: #ccc;

}

.card-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.Usercard .card-img-top {
    object-fit: cover;
    height: 15rem;
    width: 15rem;
}

.Usercard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.Usercard .img {
    transform: scale(0.7)
}

.Usercard:hover .mov-img {
    transform: scale(0.72);
}