a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: gray;
}

a:hover {
    color: #555;

}

a:active {
    color: #ccc;

}

.card-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.TripCard {
    height: 400px;
}

.TripCard .card-img-top {
    height: 200px;
    object-fit: cover;
}

.TripCard .card-body {
    height: 200px;
    display: flex;
    flex-direction: column;
}

.TripCard .card-title {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TripCard .card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TripCard:hover {
    transform: scale(1.05);
}