.UserProfile span {
    font-weight: 500;
}

.UserProfile .card-image {
    transform: scale(0.9);
}

.UserProfile .List-group {
    background-color: #212529;
}

.UserProfile .username {
    color: #f8f9fa;
}

.UserProfile .email {
    color: #f8f9fa;
}