.DetailsUserTitle {
    margin-top: 30px;
}

.DetailsUserTitle h3 {
    text-align: center;
}

.CarouselUserDetails {
    margin-top: 30px;
}

.cardBlack {
    height: '200px';
    background-color: black;
}

.columnCard {
    width: '150px'
}

.imageCard {

    width: '150px';
}