.dropdown-item:active {
    background-color: #8da1aa;
}

.dropdown-toggle::after {
    margin-left: 0.5em;
}

.dropdown-toggle::after {
    border-top-color: #023e58;
    border-bottom-color: #023e58;
}

.NavBar-custom {
    font-size: 1.2em;
    font-weight: 500;
}