.CarouselTripsDetails .Img-carousel {
    border-radius: 10px;
}

.CarouselTripsDetails .carousel-control-prev,
.CarouselTripsDetails .carousel-control-next {
    background-color: transparent;
}

.carousel-indicators li {
    background-color: transparent;
    border: 1px solid gray;
}

.carousel-indicators .active {
    background-color: gray;
    border: 1px solid transparent;
}

.CarouselTripsDetails .carousel-item img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    margin: 0 auto;

}