/* colors {
  oscuro: #061615;
  azulOscuro: #0d314b;
  verdeOscuro: #1d494a;
  verdeClaro: #5abb9c;
  verdeMasClaro: #d0f0c7;
  naranjita: #e7b97b;
  naranja: #ec6434;
  fucsia: #ea4f4a;
  rojizo: #ae3f2b;
  rojoOscuro: #771d15;
} */

a {
  text-decoration: none;
}

.App.dark {
  background-color: #212529;
  color: #f8f9fa;
  min-height: 100vh;
}

.App.dark .TripCard {
  background-color: #212529;
  color: #f8f9fa;
  border-color: gray;
}

.App.dark footer {
  background-color: #f8f9fa;
  color: #212529;
}

.App.dark .CardTripDetails {
  background-color: #212529;
  border-color: gray;
}

.App.dark .CardTripDetails .background-group {
  background-color: #212529;
  border-color: gray;
}

.App.dark .CardTripDetails .organizer {
  color: #f8f9fa;
}

.App.dark .CardTripDetails .viajerxs {
  color: #f8f9fa;
}

.App.dark .Usercard {
  background-color: #212529;
  color: #f8f9fa;
  border-color: gray;
}

.App.dark .Usercard .background-group {
  background-color: #212529;
  border-color: gray;
}