/* colors {
  oscuro: #061615;
  azulOscuro: #0d314b;
  azulOscuro mapa: #0e1525;
  azulmasclarodemapa: #023e58;
  letras de mapa: #86bbb3;
  verdeOscuro: #1d494a;
  verdeClaro: #5abb9c;
  verdeMasClaro: #d0f0c7;
  naranjita: #e7b97b;
  naranja: #ec6434;
  fucsia: #ea4f4a;
  rojizo: #ae3f2b;
  rojoOscuro: #771d15;
} */

/* negro bootstrap: #212529 */

a {
  text-decoration: none;
}

.App.light {
  background-color: #f8f9fa;
  color: #0e1525;
  min-height: 100vh;
}

.App.dark {
  background-color: #212529;
  color: #f8f9fa;
  min-height: 100vh;
}

.App.dark .NavBar-custom {
  background-color: #86bbb3;

}

.App.light .NavBar-custom {
  background-color: #86bbb3;

}

.App.light .footer {
  background-color: #212529;
  color: #f8f9fa;
}

.App.dark .TripCard {
  background-color: #2b3035;
  color: #f8f9fa;
  border-color: #2b3035;
}

.App.dark footer {
  background-color: #2b3035;
  color: #f8f9fa;
}

.App.dark .CardTripDetails {
  background-color: #2b3035;
  border-color: #2b3035;
}

.App.dark .CardTripDetails .background-group {
  background-color: #2b3035;
  border-color: #2b3035;
}

.App.dark .CardTripDetails .organizer {
  color: #f8f9fa;
}

.App.dark .CardTripDetails .viajerxs {
  color: #f8f9fa;
}

.App.dark .Usercard {
  background-color: #2b3035;
  color: #f8f9fa;
  border-color: #2b3035;
}

.App.dark .Usercard .background-group {
  background-color: #2b3035;
  border-color: #2b3035;
}

.App.dark .MarkerCard {
  background-color: #2b3035;
}

/* .App.light {
  background-color: #f8f9fa;
} */